@media (width < 1200px) {
    ._container {
        padding: 0 calc((100% - 1000px) / 2);

        //INFO
        .info {
            height: 570px;

            .info__list {
                padding: 0 30px;
                gap: 25px;

                & h2 {
                    font-size: 50px;
                    line-height: 53px;
                }
            }
        }

        .benefits__item h2,
        .video__text h2,
        .reviews h2,
        .contacts__text h2,
        .quote h4 {
            font-size: 30px;
            line-height: 36px;
        }

        .benefits__item {
            max-width: 470px;
        }

        .quote {
            padding: 10% 10%;
        }

        .promises__content {
            padding: 10% 10%;
            gap: 0;
        }

        .promises__item h6 {
            font-size: 22px;
            line-height: 30px;
        }

        .reviews__slide {
            padding: 20px 20px;
        }
    }
}

@media (width < 1030px) {
    ._container {
        padding: 0 calc((100% - 800px) / 2);

        .info {
            .info__list {
                padding: 0 10px;
                gap: 0px;

                & h2 {
                    font-size: 40px;
                    line-height: 42px;
                }

                & p {
                    font-size: 16px;
                    line-height: 23px;
                    margin: 10px auto 30px auto;
                }
            }

            .info__text p {
                font-size: 16px;
                line-height: 23px;
            }
        }

        .benefits__item {
            max-width: 47%;
        }

        .video {
            & .video__container {
                width: 100%;
                height: 500px;
            }
        }

        .promises {
            padding: 45px 0 45px 260px;
        }

        .reviews {
            & .reviews__gallery {
                flex-wrap: wrap;
            }
        }
    }
}

@media (width < 860px) {

    ._container {
        padding: 0 calc((100% - 748px) / 2);

        .video {
            & .video__container {
                width: 99%;
                height: 480px;
            }

            & .video__text p {
                max-width: 65%;
            }
        }

        .quote {
            height: 340px;
        }

        .quote h4 {
            font-size: 24px;
            line-height: 34px;
        }

        .promises {
            padding-left: 200px;
        }

        .reviews>p {
            max-width: 65%;
        }

        .reviews .reviews__gallery {
            justify-content: center;
        }

        .contacts__text {
            max-width: 50%;
        }

    }


    .footer {

        p,
        a {
            font-size: 13px;
        }

        .footer__agreements {
            gap: 10px;
        }
    }

}

// Mobile

@media (width< 768px) {
    .header {
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    ._container {
        padding: 0 20px;

        .toggleWrapper {
            display: none;
        }

        .hero__content p {
            z-index: -1;
        }

        .bar {
            display: block;
            width: 25px;
            height: 3px;
            border-radius: 15px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: v.$primary-darkblue;
            box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.4);
        }

        .hamburger {
            display: block;
            cursor: pointer;
        }

        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }

        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }

        .menu {
            position: fixed;
            left: -100%;
            top: 5rem;
            flex-direction: column;
            justify-content: space-around;
            background-image: url(../assets/bg.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;


            height: 100vh;

            width: 100%;
            text-align: center;
            transition: 0.3s;
            z-index: 100;
        }

        .menu.active {
            .menu__item {
                text-transform: uppercase;
                color: v.$primary-darkblue;

                &::after {
                    display: none;
                }

                &:hover {
                    font-weight: 600;
                }
            }

            left: 0;
            height: 100vh;
        }
    }
}

@media (width< 767px) {
    ._container {
        .info {
            padding-left: 10%;

            .info__text p {
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 20px;
            }
        }

        .quote h4 {
            font-size: 18px;
            line-height: 24px;
        }
    }
}

@media (width< 550px) {
    ._container {
        .hero {
            .hero__content h1 {
                font-size: 30px;
                line-height: 38px;
            }
        }

        .info {
            margin-top: 75px;
            padding: 0;
            height: 750px;
            background-position: bottom;

            .info__content {
                flex-wrap: wrap;
                gap: unset;
                justify-content: center;

                .info__text p {
                    padding: 5%;
                }
            }
        }

        .benefits {
            flex-wrap: wrap;
        }

        .benefits__item {
            max-width: 100%;
        }

        .quote {
            .quote__text::before {
                left: -30px;
            }
        }

        .video {
            .video__container {
                height: 300px;
                padding: 0;
                border: none;
            }

            .video__text p {
                max-width: 100%;
            }
        }

        .promises {
            padding: 0;

            .promises__content {
                flex-wrap: wrap;
                gap: unset;

                .promises__item {
                    width: 100%;
                }
            }
        }

        .reviews>p {
            max-width: 100%;
        }

        .contacts__content {
            flex-wrap: wrap;

            .contacts__text {
                max-width: 100%;
            }

            .contacts__form {
                width: 100%;
                margin-top: 30px;
            }
        }

    }

    .footer {
        height: 200px;
        flex-wrap: wrap;
        justify-content: center;
    }
}