//light theme colors
$primary-darkblue: #262A3F;
$primary-grey: #E4E4E4;
$secondary-green: #85BBB1;
$coral-btn: #F1897B;
$coral-btn--hover: #E64F3A;
$coral-btn-bg--hover: #E54F3A;
//dark theme colors
$secondary-blue: #689FF2;
$neon-btn: #53F3CD;
$neon-btn--hover: #02E0AB;
$dark-bg: #161926;