@use 'reset';
@use 'dark-theme';
@use 'variables' as v;
@use 'switcher';

// FONTS and BTN
@mixin title-font($fs, $lh) {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: $fs;
    line-height: $lh;
    color: v.$primary-darkblue;
}

@mixin text-font($fw, $fs, $op) {
    font-family: 'Lato', sans-serif;
    font-weight: $fw;
    font-size: $fs;
    line-height: 26px;
    opacity: $op;
    color: v.$primary-darkblue;
}

@mixin btn-font {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: v.$coral-btn;
}

.title {
    @include title-font(40px, 48px);

    i {
        color: v.$secondary-green;
    }
}

.text {
    @include text-font(300, 18px, 0.8);
}

.small-text {
    @include text-font(400, 16px, 0.8);
    color: #FFFFFF;
}

.author {
    @include title-font(20px, 20px);
    font-style: italic;
    letter-spacing: 0.08em;
    color: #FFFFFF;
}

.btn {
    @include btn-font();
    position: relative;

    &::after {
        content: '';
        width: 100%;
        height: 13px;
        position: absolute;
        left: 5.49%;
        top: 45.83%;
        background-color: v.$coral-btn;
        opacity: 0.3;
    }

    &:hover {
        color: v.$coral-btn--hover;

        &::after {
            background-color: v.$coral-btn-bg--hover;
        }
    }
}

// BODY
body {
    background-image: url(../assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

._container {
    padding: 0 calc((100% - 1170px) / 2);
    // padding: 0 calc(50vw-585px);
}

// HEADER
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: relative;
    top: 30px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(4.5px);

    .logo {
        display: flex;
        align-items: center;
        gap: 15px;
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        font-weight: 700;
        // color: v.$secondary-green;
        color: slateGray;
        ;
        text-transform: uppercase;
        letter-spacing: 0.15em;
    }

    #toggle {
        position: absolute;
        width: 32px;
        height: 32px;
        opacity: 0;
        cursor: pointer;
    }

    #themeSwitch {
        position: absolute;
        width: 32px;
        height: 32px;
        opacity: 0;
        cursor: pointer;
    }

    .solis {
        margin-left: 15px;
    }

    .menu {
        display: flex;
        gap: 30px;

        .menu__item {
            @include text-font(400, 14px, 1);
            letter-spacing: 0.08em;
            position: relative;

            &:hover::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                bottom: -4px;
                left: -1px;
                background: v.$coral-btn;
                opacity: 0.3;
            }
        }
    }
}


// HERO
.hero__content {
    padding-top: 150px;
    max-width: 523px;

    p {
        margin: 20px 0 50px 0;
    }
}

// INFO SECTION
.info {
    margin-top: 150px;
    background: url(../assets/statistic-image.png) no-repeat;
    height: 670px;
    padding: 45px 0% 45px 33%;

    .info__content {
        display: flex;
        gap: 13px;
        background-color: #ffffff;
        opacity: 0.9;
        padding: 30px 0;
        height: 100%;
    }

    .info__list {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 0 56px;
        text-align: center;
    }

    .text-stats {
        @include title-font(68px, 72px);

        gray {
            @include title-font(40px, 50px);
            color: v.$primary-grey;
        }
    }

    .info__item p {
        margin: 12px auto 40px auto;
    }

    .info__hr {
        width: 100px;
        border: 1px solid v.$secondary-green;
    }

    .info__text p {
        margin-bottom: 50px;
        max-width: 390px;
    }
}

// BENEFITS SECTION

.benefits {
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .benefits__item {
        display: flex;
        flex-direction: column;
        width: 570px;
        position: relative;
        padding: 50px 35px;
        border-top: 1px solid v.$primary-grey;

        h2 {
            margin-bottom: 30px;
        }

        // &::before {
        //     content: '';
        //     position: absolute;
        //     width: 100%;
        //     height: 1px;
        //     background-color: v.$primary-grey;
        //     // top: 0;
        //     // left: 2%;
        // }
    }
}

// QUOTE SECTION
.quote {
    background-image: url(../assets/quote-background.png);
    background-repeat: no-repeat;
    height: 400px;
    margin-top: 90px;
    padding: 100px 300px 100px 160px;

    .quote__text {
        @include text-font(400, 32px, 1.0);
        line-height: 46px;
        color: #FFFFFF;
        padding-bottom: 40px;
        position: relative;
        letter-spacing: 0.04em;

        &::before {
            content: url(../assets/quote-icon.svg);
            position: absolute;
            top: -30px;
            left: -55px;
        }
    }
}

// VIDEO SECTION
.video {
    margin: 120px auto;
    position: relative;

    .video__container {
        margin: 0 auto;
        width: 970px;
        height: 601px;
        padding: 31px 70px 31px 30px;
        border: 1px solid v.$primary-grey;
        border-radius: 32px;
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 8px;
            width: 13px;
            height: 13px;
            border: 1px solid v.$primary-grey;
            border-radius: 32px;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 17px;
            width: 35px;
            height: 35px;
            border: 1px solid v.$primary-grey;
            border-radius: 32px;
        }
    }

    .video__youtube {
        display: none;
    }

    .video__screensaver {
        background: #ffffff url(../assets/screensaver-video.png) 100% no-repeat;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid v.$primary-grey;
    }

    .video__btn {
        cursor: pointer;
        width: 120px;
        height: 120px;
        background: url(../assets/icon-play.svg) 100% no-repeat;
        z-index: 99;
    }

    .video__text {
        margin: 50px auto;
        width: 970px;
    }

    .video__text p {
        margin-top: 20px;
        max-width: 830px;
    }
}

// PROMISES SECTION

.promises {
    background-image: url(../assets/features-background-image.png);
    background-repeat: no-repeat;
    height: 600px;
    margin-top: 120px;
    padding: 45px 0 45px 400px;

    .promises__content {
        background-color: #FFFFFF;
        opacity: 0.9;
        height: 450px;
        padding: 75px 0 75px 70px;
        display: flex;
        gap: 100px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .promises__item {
        display: flex;
        flex-direction: column;
        width: 42%;

        &:last-child {
            border: 1px solid v.$primary-grey;
            height: 90px;
            align-items: center;
            justify-content: center;
            padding: 33px 89px 33px 89px;

            &:hover {
                border: 1px solid v.$coral-btn-bg--hover;
            }
        }
    }

    .medium-text {
        @include title-font(24px, 48px)
    }
}

// REVIEWS SECTION

.reviews {
    margin-top: 75px;
    margin-bottom: 100px;

    &>p {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .reviews__gallery {
        display: flex;
        gap: 30px;
    }

    .reviews__slide {
        padding: 30px 40px;
        width: 370px;
        height: 340px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:first-child {
            background: linear-gradient(to right, rgba(25, 28, 41, 0.6), rgba(25, 28, 41, 0.6)), url(../assets/image1.jpg);
        }

        &:nth-child(2) {
            background: linear-gradient(to right, rgba(25, 28, 41, 0.6), rgba(25, 28, 41, 0.6)), url(../assets/image2.jpg);
        }

        &:last-child {
            background: linear-gradient(to right, rgba(25, 28, 41, 0.6), rgba(25, 28, 41, 0.6)), url(../assets/image3.jpg);
        }
    }
}

// CONTACTS

.contacts {
    border-top: 1px solid v.$primary-grey;
    border-bottom: 1px solid v.$primary-grey;
    padding-top: 60px;
    padding-bottom: 100px;

    .contacts__content {
        display: flex;
        justify-content: space-between;
    }

    .contacts__text {
        margin-top: 21px;

        & h2 {
            margin-bottom: 30px;
        }
    }

    .contacts__form {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 40px;

        & button {
            width: fit-content;
        }

        input {
            @include title-font(18px, 20px);
            font-style: italic;
            opacity: 0.5;
            border-bottom: 1px solid v.$primary-grey;
            letter-spacing: 0.08em;
            padding-bottom: 10px;
        }
    }
}

// FOOTER

.footer {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        @include text-font(300, 14px, 0.6);
    }

    a {
        @include text-font(400, 14px, 1);
        line-height: 24px;
        letter-spacing: 0.08em;
    }

    .footer__creator {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .footer__agreements {
        display: flex;
        gap: 32px;
    }
}